/*Body*/

body{
    margin: 0px;
    background-color: rgb(53, 48, 48);
}

/*Header-1*/

.header-1{
    border: solid orange;
    flex-wrap: wrap;
    background-color: rgb(46, 46, 63);

}

.menu{
    gap: 20px;
}
.borders li{
    padding: 10px;
    background-color: gray;
    border-radius: 20px;
    border: solid;
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

/*Header-2*/

.header-2{
    padding: 20px;
    margin-top: 100px;
    width: auto;
    align-items: end;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 48);
   
}

/*Index*/

.container{
    border-radius: 20px;
    margin-top: 30px;
    width: 950px;
    background-color: rgba(14, 20, 97, 0.274);
    padding: 20px;
    margin-bottom: 300px;
}

.container li{
    color: white;
}

/*Cartel*/

.container-2{
    border-radius: 20px;
    margin-top: 20px;
    width: 950px;
    background-color: rgba(128, 128, 128, 0.274);
}

.container-2 li{
    color: white;
}
.padding{
    padding-left: 20px;
}

.padding a{
    color: orange;
    text-decoration:solid
}

/*Horario*/

.container-3{
    border-radius: 20px;
    margin-top: 20px;
    height: 750px;
    width: auto;
    background-color: rgba(1, 30, 109, 0.274);
    padding-left: 80px;
    padding-right: 80px;
}


/*Aplicante*/

.flex{
    display: flex;
}

/*palabras*/



h1{
    color: rgb(255, 94, 0);
}

a{
    text-decoration: none;
    color: black;
}

p{
    color: white;
}

h2{
    color: white;
    font-size: 30px;
}


/*Posicionaminto*/

.center{
    align-items: center;
    justify-content: center;
}
.centro{
    justify-content: center;
    text-align: center;
}

.align{
    justify-content: center;
}

/*img*/

img{
    width: 900px;
}

 th{
    border: solid;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
}

td{
    border: solid;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
    text-align: center;
}

.colores{
    background-color: rgb(0, 0, 48);
}

/*Contacto*/

.container-4{
    margin-top: 20px;
    height: 750px;
    width: 1600px;
    border-radius: 20px;
    background-color: rgba(1, 30, 109, 0.274);
    padding-left: 20px;

}

input{
    width: 1500px;
}