/*Body*/

body{
    margin: 0px;
    background-color: rgb(49, 47, 47);
}

/*Header-1*/

.header-1{
    border: solid orange;
    flex-wrap: wrap;
    background-color: rgb(48, 48, 112);

}

.menu{
    gap: 20px;
}
.borders li{
    padding: 10px;
    background-color: gray;
    border-radius: 20px;
    border: solid;
    list-style: none;
    text-decoration: none;
}

/*Header-2*/

.header-2{
    border: solid orange;
    padding: 20px;
    margin-top: 100px;
    width: auto;
    align-items: end;
    flex-wrap: wrap;
    background-color: rgb(48, 48, 112);
   
}

/*Index*/

.container{
    border-radius: 20px;
    margin-top: 30px;
    width: 950px;
    background-color: rgba(128, 128, 128, 0.274);
    padding: 20px;
    margin-bottom: 300px;
}

.container li{
    color: white;
}

/*Cartel*/

.container-2{
    border-radius: 20px;
    margin-top: 20px;
    width: 950px;
    background-color: rgba(128, 128, 128, 0.274);
}

.container-2 li{
    color: white;
}
.padding{
    padding-left: 20px;
}

.padding a{
    color: orange;
    text-decoration:solid
}
/*Aplicante*/

.flex{
    display: flex;
}

/*palabras*/

h1{
    color: orange;
}

a{
    text-decoration: none;
    color: black;
}

p{
    color: white;
}

h2{
    color: white;
}

/*Posicionaminto*/

.center{
    justify-content: center;
}
.centro{
    justify-content: center;
    text-align: center;
}

/*img*/

img{
    width: 900px;
}